@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

@font-face {
  font-family: 'ChicagoFont';
  src: url('https://dangasson.github.io/Resources/Fonts/ChicagoFLF.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  display: grid;
  place-items: center;
  text-align: center;
  font-family: 'ChicagoFont', sans-serif;
}
.music-container {
  position: relative;
  width: 375px;
  height: 550px;
  border-radius: 18px;
  background: white;
  overflow: hidden;
  box-shadow: 0.1px 4px 8px 2px rgba(0, 0, 0.5, 0.5),
    inset 0vw 0vw 1.25vw 0.15vw;
}

.tracklist button {
}

.block .screen .nav {
  display: flex;

  justify-content: space-between;
}

.block .screen .nav button {
  border: none;
  background: none;
  text-decoration: none;
  font: inherit;
  margin: 5px;
}

.music-container .block {
  margin-top: 20px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.music-container .block .screen {
  position: relative;
  margin: 30px auto 0px auto;
  width: 284px;
  height: 230px;
  background: linear-gradient(135deg, #a5a59b, #d6d5d0);
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px 2px #4d4d4d;
  font-family: 'ChicagoFont', 'Arial';
  font-size: 100%;
  color: #484647;
}

/* .music-container .block .shape {
  height: 200px;
  width: 320px;
  border-radius: 10%;
  border: 2px solid #000;
  overflow: hidden;
  background-color: #a5a59b;
  box-shadow: inset 0.1px 4px 8px 2px rgba(0, 0, 0, 0.5);
} */

.music-container .player {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.music-container .main .track-info {
  height: 30px;
  width: 300px;
  overflow: hidden;
  visibility: hidden;
  box-shadow: 0.1px 4px 8px 2px rgba(0, 0, 0, 0.1);
}

.music-container .main {
  margin-top: 20px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.music-container .main .player {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.music-container .main .player button {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  font-size: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 18px;
  background: rgba(0, 0, 0, 0.01);
  box-shadow: inset 0.1px 8px 8px 2px rgba(0, 0, 0, 0.2);
}

.music-container .main .player .action-btn {
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.08);
  margin: 10%;
}

#upload-form {
  background-color: whitesmoke;
}

.tracklist {
  list-style: none;
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: white;
  max-height: 0px;
  overflow: hidden;
  transition: 0.5s;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tracklist.active {
  position: relative;
  bottom: 0;
  z-index: 10;
  width: 95%;
  height: 95%;

  max-height: 0px;
  overflow: scroll;
  transition: 0.5s;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tracklist li {
  position: relative;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
  margin: 10px;
  padding: 12px 12px 20px 12px;
  /* box-shadow: 0.1px 8px 8px 2px rgba(0, 0, 0, 0.1); */
  background: linear-gradient(135deg, #a5a59b, #d6d5d0);
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px 2px #4d4d4d;
  font-family: 'ChicagoFont', 'Arial';
  font-size: 100%;
  color: #484647;
}

.music-container .active {
  max-height: 100vh;
  padding: 100px 0 0 0;
}

.test {
  background-color: aqua;
}
